body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock__body {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 20px;
  background-color: rgba(0,0,0,.7);
}

.clock__face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,.4);
  background-color: #e9e9e9;
}

.clock__face::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
}

.clock__arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 50%;
  transform-origin: 100%;
  transform: translateY(-50%);
  background-color: #000;
  border-radius: 40%;
}

.clock__hours {
  position: relative;
  height: 8px;
}

.clock__minutes {
  height: 6px;
}

.clock__seconds {
  height: 4px;
  background-color: rgb(250, 6, 6);
}

.clock__digits {
  position: absolute;
  z-index: 0;
  font-size: 22px;
  line-height: 1;
}

.clock__12 {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.clock__15 {
  right: 5px;
  top: 50%;
  transform: translateY(-50%); 
}

.clock__18 {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.clock__21 {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.clock__digital {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 0;
  min-width: 90px;
  padding: 5px;
  line-height: 1;
  transform: translateX(-50%);
  border-radius: 4px;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
}

.clock__digital-hours,
.clock__digital-minutes {
  vertical-align: middle;
}